[submodule "vim/vim.symlink/bundle/vim-pathogen"]
	path = vim/vim.symlink/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim.symlink/bundle/vim-endwise"]
	path = vim/vim.symlink/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/vim.symlink/bundle/vim-commentary"]
	path = vim/vim.symlink/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim.symlink/bundle/vim-ruby"]
	path = vim/vim.symlink/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-ruby-refactoring"]
	path = vim/vim.symlink/bundle/vim-ruby-refactoring
	url = https://github.com/rking/vim-ruby-refactoring.git
[submodule "vim/vim.symlink/bundle/vim-powerline"]
	path = vim/vim.symlink/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/vim.symlink/bundle/vim-textobj-rubyblock"]
	path = vim/vim.symlink/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/vim.symlink/bundle/vim-textobj-user"]
	path = vim/vim.symlink/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/vim.symlink/bundle/vim-rake"]
	path = vim/vim.symlink/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/vim-repeat"]
	path = vim/vim.symlink/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim.symlink/bundle/vim-tabular"]
	path = vim/vim.symlink/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/vim.symlink/bundle/vim-qargs"]
	path = vim/vim.symlink/bundle/vim-qargs
	url = https://github.com/nelstrom/vim-qargs.git
[submodule "vim/vim.symlink/bundle/vimux"]
	path = vim/vim.symlink/bundle/vimux
	url = https://github.com/benmills/vimux.git
	ignore = dirty
[submodule "vim/vim.symlink/bundle/vim-bundler"]
	path = vim/vim.symlink/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/vim.symlink/bundle/vim-markdown-preview"]
	path = vim/vim.symlink/bundle/vim-markdown-preview
	url = git://github.com/nelstrom/vim-markdown-preview.git
[submodule "mutt/mutt.symlink/colors-solarized"]
	path = mutt/mutt.symlink/colors-solarized
	url = git://github.com/altercation/mutt-colors-solarized.git
[submodule "vim/vim.symlink/bundle/vim-delimitmate"]
	path = vim/vim.symlink/bundle/vim-delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/vim.symlink/bundle/vim-dispatch"]
	path = vim/vim.symlink/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "vim/vim.symlink/bundle/vim-colors-github"]
	path = vim/vim.symlink/bundle/vim-colors-github
	url = git@github.com:prognostikos/vim-colors-github.git
[submodule "vim/vim.symlink/bundle/vim-copy-as-rtf"]
	path = vim/vim.symlink/bundle/vim-copy-as-rtf
	url = git://github.com/zerowidth/vim-copy-as-rtf.git
[submodule "vim/vim.symlink/bundle/vim-gist"]
	path = vim/vim.symlink/bundle/vim-gist
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/vim.symlink/bundle/vim-bats"]
	path = vim/vim.symlink/bundle/vim-bats
	url = git@github.com:rosstimson/bats.vim.git
[submodule "vim/vim.symlink/bundle/vim-indent-object"]
	path = vim/vim.symlink/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/vim.symlink/bundle/vim-webapi"]
	path = vim/vim.symlink/bundle/vim-webapi
	url = https://github.com/mattn/webapi-vim
[submodule "vim/vim.symlink/bundle/vim-slim"]
	path = vim/vim.symlink/bundle/vim-slim
	url = git@github.com:slim-template/vim-slim.git
[submodule "vim/vim.symlink/bundle/vim-base16"]
	path = vim/vim.symlink/bundle/vim-base16
	url = git@github.com:chriskempson/base16-vim.git
[submodule "vim/vim.symlink/bundle/vim-ctrlp"]
	path = vim/vim.symlink/bundle/vim-ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/vim-sparkup"]
	path = vim/vim.symlink/bundle/vim-sparkup
	url = https://github.com/tristen/vim-sparkup
[submodule "vim/vim.symlink/bundle/vim-eunuch"]
	path = vim/vim.symlink/bundle/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "vim/vim.symlink/bundle/vim-trailertrash"]
	path = vim/vim.symlink/bundle/vim-trailertrash
	url = git@github.com:csexton/trailertrash.vim.git
[submodule "vim/vim.symlink/bundle/vim-ruby-xmpfilter"]
	path = vim/vim.symlink/bundle/vim-ruby-xmpfilter
	url = git@github.com:t9md/vim-ruby-xmpfilter.git
[submodule "vim/vim.symlink/bundle/vim-supertab"]
	path = vim/vim.symlink/bundle/vim-supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/vim.symlink/bundle/vim-vitality"]
	path = vim/vim.symlink/bundle/vim-vitality
	url = git@github.com:sjl/vitality.vim.git
[submodule "vim/vim.symlink/bundle/vim-json"]
	path = vim/vim.symlink/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "vim/vim.symlink/bundle/vim-dockerfile"]
	path = vim/vim.symlink/bundle/vim-dockerfile
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule "vim/vim.symlink/bundle/vim-projectionist"]
	path = vim/vim.symlink/bundle/vim-projectionist
	url = git@github.com:tpope/vim-projectionist.git
[submodule "vim/vim.symlink/bundle/vim-autornu"]
	path = vim/vim.symlink/bundle/vim-autornu
	url = git@github.com:RyanMcG/vim-autornu.git
[submodule "vim/vim.symlink/bundle/vim-ctrlp-py-matcher"]
	path = vim/vim.symlink/bundle/vim-ctrlp-py-matcher
	url = git@github.com:FelikZ/ctrlp-py-matcher.git
[submodule "vim/vim.symlink/bundle/vim-lightline"]
	path = vim/vim.symlink/bundle/vim-lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/vim.symlink/bundle/vim-neocomplete"]
	path = vim/vim.symlink/bundle/vim-neocomplete
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "vim/vim.symlink/bundle/vim-vinegar"]
	path = vim/vim.symlink/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "vim/vim.symlink/bundle/vim-snippits"]
	path = vim/vim.symlink/bundle/vim-snippits
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/vim.symlink/bundle/vim-test"]
	path = vim/vim.symlink/bundle/vim-test
	url = git@github.com:janko-m/vim-test.git
[submodule "vim/vim.symlink/bundle/vim-html5"]
	path = vim/vim.symlink/bundle/vim-html5
	url = git@github.com:othree/html5.vim.git
[submodule "vim/vim.symlink/bundle/vim-go"]
	path = vim/vim.symlink/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/vim.symlink/bundle/vim-rails"]
	path = vim/vim.symlink/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
