[submodule "mutt/mutt.symlink/colors-solarized"]
	path = mutt/mutt.symlink/colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "vim/vim.symlink/bundle/vim-gnupg"]
	path = vim/vim.symlink/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "vim/vim.symlink/bundle/vim-neocomplete"]
	path = vim/vim.symlink/bundle/vim-neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
