vim/vim.symlink/.netrwhist
mutt/mutt.symlink/cache/*
mutt/mutt.symlink/temp/
*.pyc
vim/vim.symlink/spell/
.kitchen
config.symlink/gh/hosts.yml
config.symlink/github-copilot/hosts.json
config.symlink/htop/htoprc
config.symlink/op
config.symlink/configstore
config.symlink/cb/api.crunchybridge.com
config.symlink/cb/certs
config.symlink/karabiner/automatic_backups
